<div class="container">
  <div class="products-container">
    <h1>Carrinho de compras</h1>
    @for (cartItem of cartService.cart; track $index) {
    <div class="card">
      <p-dataView #dv [value]="cartService.cart">
        <ng-template pTemplate="list" let-products>
          <div class="grid grid-nogutter">
            <div class="col-12">
              <div
                class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
                [ngClass]="{ 'border-top-1 surface-border': $index > 0 }"
              >
                <div
                  class="w-full sm:w-10rem md:w-10rem lg:w-10rem xl:w-10rem relative"
                >
                  <img
                    class="block mx-auto border-round w-full"
                    [src]="cartItem.product.image_url"
                    [alt]="cartItem.product.description"
                  />
                </div>
                <div
                  class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4"
                >
                  <div
                    class="flex flex-row md:flex-column justify-content-between align-items-start gap-2"
                  >
                    <div>
                      <span class="font-medium text-secondary text-sm">
                        {{ cartItem.product.category.description }}
                      </span>
                      <div class="text-lg font-medium text-900 mt-2">
                        {{ cartItem.product.description }}
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-column md:align-items-end gap-5">
                    <div class="flex flex-row-reverse md:flex-row gap-2">
                      <p-inputNumber
                        [showButtons]="true"
                        buttonLayout="horizontal"
                        inputId="horizontal"
                        spinnerMode="horizontal"
                        [step]="1"
                        decrementButtonClass="p-button-secondary"
                        incrementButtonClass="p-button-secondary"
                        incrementButtonIcon="pi pi-plus"
                        decrementButtonIcon="pi pi-minus"
                        [(ngModel)]="cartItem.quantity"
                      />
                    </div>
                    <div class="flex flex-row-reverse md:flex-row gap-2">
                      <span class="text-xl font-semibold text-900">
                        {{ "R$" + cartItem.product.price * cartItem.quantity }}
                      </span>
                      <span class="text-xl font-semibold text-900">
                        {{
                          "$" +
                            roundUSDPrice(
                              cartItem.product.price_usd * cartItem.quantity
                            )
                        }}
                      </span>
                    </div>
                    <p-button
                      label="Excluir"
                      [text]="true"
                      severity="danger"
                      (onClick)="cartService.removeProductFromCart(cartItem)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
    }
  </div>
  <div class="order-container">
    <p>subtotal: R$ {{ calculateTotal() }}</p>
    <button
      pButton
      pRipple
      label="Fechar pedido"
      class="w-full"
      (click)="closeOrder(note)"
    ></button>
    <div class="flex flex-column gap-2 m-3">
      <span>Entre uma observação:</span>
      <textarea
        rows="2"
        cols="15"
        pInputTextarea
        [autoResize]="true"
        [(ngModel)]="note"
      ></textarea>
    </div>
  </div>
</div>
