:host {
  grid-area: sells;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black;
  padding: 16px;
}
.data-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
.data-wrapper {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
.sale-info {
  max-width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  span {
    color: #bf8f0e;
  }
  span,
  p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
